// contacto

.sectionContacto{
    display: grid;
    background-image: url("/fondo.jpg");
    background-attachment: fixed;
    background-size: 100vw 100vh;
    
    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
                        "titulares"
                        
                        "formulario"
                        "comentario";


}
form{
    width: 600px;
    height: 900px;
    margin: auto;
    background: rgba(0,0,0,0.2);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 10px;
}
h3{
    font-style: italic;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    margin: 0;
    padding: 15px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    border: none;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;

}
#boton{
    background: #3184;
    color: #fff;
    padding: 20px;

}
#boton:hover{
    cursor:pointer;
}

fieldset{
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;

}
select{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}



@media (max-width:662px){
    form{
        width: 100%
    }
}
