#galeria{
    
    display: grid;
    background-image: url("/Multimedia\ optimizado/fondo.jpg");
    background-attachment: fixed;
    background-size: 100vw 100vh;
    grid-template-columns: 100%;
    grid-template-rows:  15% 75% 10%;
    grid-template-areas: 
                        " titulares "  
                         "galeria" 
                         "comentario"  ;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-auto-rows: 200px;
    
}
.contenedor-galeria{
    
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width:2000px;
    margin: auto;
}
.galeria__img{
    
    width: 300px;
    height: 400px;
    margin-bottom: 30px;
    object-fit: cover;
    filter: brightness(70%);
    
}

.galeria__img:hover{
    filter: brightness(100%);
}

