@import "secciones/cartas.scss";
@import "secciones/mixins.scss";

@media ( max-width:1391px){

    #grillaPrincipal{
        display: grid;
        height:auto;
        width: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: 10% 5% 80% 5%;
        grid-template-areas: 
                            "header"
                            "nav"
                            "section"
                            "footer";
    }

    #masVendido{
        
        padding: 10px;
        width: 100%;
        margin: 40px;
        padding:20px;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50%  50%;
        grid-template-areas: 
                            "carta carta"
                            "carta carta";  
     }
     .carta{
       
        overflow: hidden;
        margin: auto;
        padding:20px;
        width:300px;
        height: auto;
        background-color:rgb(250, 235, 244);
        border-style: groove;
        
}


#tarjetasMix{
    margin: 10px;
    padding: 10px;
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    
}  
 
 @mixin tarjeta ($tamanioTarjeta){
    background-color: rgb(247, 226, 245);
    width: 400px;
    height: $tamanioTarjeta;
    margin: 2rem;
    padding: 30px;
    display: block;
    box-sizing: border-box;
    
    div.imagen {
        background-color: honeydew;
        width: 90%;
        height: 250px;
        margin: 0 auto;
        margin-bottom: 1rem;
        
            .quiensoyfoto{
                width: 100%;
                height: 100%;
            }
    }

    h2{
        font-family: Arial, Helvetica, sans-serif;
        color: lightslategrey;
        font-style: italic;
        margin: 0 auto;
        font-size: 20px;
        text-align: center;
        padding: 8px;
    }
    p{  
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
        font-weight: 100;
        word-spacing: 5px;
        letter-spacing: 2px;
        text-align: center;
        
       
    }
    }

    section{
        
        .tarjeta-1{
            @include tarjeta (700px);
            overflow-y: auto;

        }
        .tarjeta-2{
            @include tarjeta (500px);
            overflow-y: auto;
        }
        .tarjeta-3{
            @include tarjeta($tamanioTarjeta);
            overflow-y: auto;
        }
    
    }

    #galeria{
        display: grid;
        background-image: url("../Multimedia\ optimizado/fondo.jpg");
        background-attachment: fixed;
        background-size: 100vw 100vh;
        grid-template-columns: 100%;
        grid-template-rows:  5% 85% 10%;
        grid-template-areas: 
                            " titulares "  
                             "galeria" 
                             "comentario"  ;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        
        
    }
    .contenedor-galeria{
        display: flex;
        max-height: 2500px;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width:2000px;
        margin: auto;
    }

    .footer{
        background-color: rgb(233, 227, 233);
        grid-area: footer;
        padding: 60px 0;
            }
        .contenedorFooter{
        width: 100%;
        margin: auto;
        background-color: rgb(233, 227, 233);
         &__col{
        width: 33%;
        margin-bottom: 30px;
        }
        }





    }

@media only screen and ( max-width:600px) {
        #grillaPrincipal{
        display: grid;
        height:auto;
        width: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: 10% 5% 80% 5%;
        grid-template-areas: 
                            "header"
                            "nav"
                            "section"
                            "footer" }

        #grillaMenu{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        align-items: center;
        justify-items: center;
        }

         .foto{
        display: flex ;
        width: 300px;
        height: 200px;
        align-items: center;
        justify-content: center;
        }
        .header{
        display: flex;
        justify-content: center;
        align-items: center;
        }
 
        .logo{
        margin: 5px;
        width:100%;
        object-fit: cover;
        }


        .sectionHome{
        display: grid;
        background-image: url("../Multimedia\ optimizado/fondo.jpg");
        grid-template-columns: 100%;
        grid-template-rows: 3% 27% 70%;
        grid-template-areas: 
                            "titulares"
                            "carrusel"
                            "masVendido";

        }
        #masVendido{
        
            padding: 2px;
            width: 100%;
            
            display:flex;
            flex-direction: column;
            height: auto;
                     
         }
         .carta{
            margin: 5px;
            padding: 2px;
            width:285px;
            height: auto;
            background-color:rgb(250, 235, 244);
            border-style: groove;
            
    }

        .titulares{
        justify-content: center;
        align-items: center;
        font-style: italic;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 100;
        padding: 8px;
        
        & h1{
            display: flex;
            font-size: 30px;

        
        }
        & h2{
            display: flex;
            font-size: 8px;
            }
            }


        .sectionQuien{
            display: grid;
            background-image: url("../Multimedia\ optimizado/fondo.jpg");
            grid-template-columns: 100%;
            grid-template-rows: 10% 90%;
            grid-template-areas: 
                                "titulares"
                                "tarjetasMix";

            }

        .comentario{
            width: 100%;
            display: flex;
            height: 10px;
            margin: 0;
           
           
            
            
            

            
            &__p{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 10px;
            font-style: italic;
            padding: 0;
            }
        }




        .titulares{
        justify-content: center;
        align-items: center;
        font-style: italic;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 200;
        letter-spacing: 2px;
        margin: 10px;
        padding: 10px;
        & h1{
            display: flex;
            font-size: 20px;  
        }
        & h2{
            display: flex;
            font-size: 15px;
        }
        }

        #galeria{
        display: grid;
        background-image: url("../Multimedia\ optimizado/fondo.jpg");
        background-attachment: fixed;
        background-size: 100vw 100vh;
        grid-template-columns: 100%;
        grid-template-rows:  3% 92% 5%;
        grid-template-areas: 
                            "titulares "  
                            "galeria" 
                            "comentario" ;
        
        }
        .contenedor-galeria{
        display: flex;
        max-height: 7500px;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width:2000px;
        margin: auto;
        }


        .footer{
        background-color: rgb(233, 227, 233);
        grid-area: footer;
        padding: 60px 0;
            }
        .contenedorFooter{
        width: 100%;
        margin: auto;
        background-color: rgb(233, 227, 233);
         &__col{
        width: 100%;
        margin-bottom: 30px;
        }
        }

        #tarjetasMix{
        margin: 10px;
        padding: 10px;
        display:flex;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    
        }  
 
        @mixin tarjeta ($tamanioTarjeta){
        background-color: rgb(247, 226, 245);
        width: 400px;
        height: $tamanioTarjeta;
        margin: 2rem;
        padding: 30px;
        display: block;
        box-sizing: border-box;}
    
        div.imagen {
            background-color: honeydew;
            width: 90%;
            height: 250px;
            margin: 0 auto;
            margin-bottom: 1rem;
            }
        .quiensoyfoto{
                    width: 100%;
                    height: 100%;
                
            
            }

        h2{
            font-family: Arial, Helvetica, sans-serif;
            color: lightslategrey;
            font-style: italic;
            margin: 0 auto;
            font-size: 20px;
            text-align: center;
            padding: 8px;
        }
        p{  
            font-size: 15px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-style: italic;
            font-weight: 100;
            word-spacing: 5px;
            letter-spacing: 2px;
            text-align: center;
            
        
        }
        section{
        
        .tarjeta-1{
            @include tarjeta (700px);
            overflow-y: auto;

        }
        .tarjeta-2{
            @include tarjeta (500px);
            overflow-y: auto;
        }
        .tarjeta-3{
            @include tarjeta($tamanioTarjeta);
            overflow-y: auto;
        }
        }
        .comentario{
        width: 100%;
        height: 2%;
        display: flex;
        flex-wrap: wrap;
        
        justify-content: center;
        margin: auto;
        padding: 50px;
        
        &__p{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20px;
            font-style: italic;
            
    
        }
        #masVendido{
        
        padding: 10px;
        width: 100%;
        margin: auto;
        display:flex;
        flex-wrap: wrap;

        }
        .carta{
        overflow: hidden;
        margin: 20px;
        padding: 5px;
        width:300px;
        height: auto;
        background-color:rgb(250, 235, 244);
        border-style: groove;
        
        &__img{
            display: flex;
            justify-content: center;
            align-items: center;
            height:300px;
            width: 290px;
            padding: 10px;
            background-color: rgb(211, 195, 210);
        
            &__contenedor{
            
            display: block;
            margin: 5px;
            width: 290px;
            height: 90px;
            
            }
            &__lista{
            list-style: none;
            padding: .3em .5em;
            margin-right: .5em;
            background-color: rgb(238, 206, 223);
            border-radius: .3em;
            font-size: 8px;
            display: flex;
            justify-content: space-around;
        }
        &__item{
            display: inline;
            padding: .3em .5em;
            margin-right: .5em;
        }
        &__a{
            text-decoration: none;
            color: rgb(100, 98, 98);
            font-size: 15px;
            font-style: italic;
            
        }
        &__descripcion{
            font-size: 18px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-style: italic;
            font-weight: 100;
            text-align: center;
            padding: 15px;
            }
        
        }
        .btn{
        
        display: block;
        }
       
    }
        }
    }